@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #1b1b1b;
  color: #fff;
}

.header {
  background-color: #1f1f1f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 5px 20px;
}

.header .nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header .nav-links a {
  text-decoration: none;
  color: #bebebe;
  transition: color 0.3s ease;
}

.header .nav-links a:hover {
  text-decoration: none;
  color: #fff;
}

.header .title {
  font-size: 1.5rem;
  font-weight: 600;
  transition: font-size 0.15s ease;
}

.header .title:hover {
  font-size: 1.6rem;

}

.header .title a {
  color: #fff;
  text-decoration: none;
}



.side-bar .side-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.side-bar .side-links a {
  text-decoration: none;
  color: #bebebe;
  transition: color 0.3s ease;
}

.side-bar .side-links a:hover {
  text-decoration: none;
  color: #fff;
}

.split {
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: stretch;
}

.side-bar{
  padding: 2rem;
}

.section{
  padding: 2rem;
  flex: 1;
  
}

footer {
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 5px 20px;
}

main table {
  border-collapse: collapse;
}

main table tr {
  border: solid;
  border-width: 1px 0;
  padding: 0.5rem;
}

main table td {
  padding: 0.5rem;
  text-align: left;
  vertical-align: middle;
}

main table button {
  margin: 0.15rem;
}

footer p {
  font-size: 0.8rem;
}

.divider {
  height: 1px;
  margin: 1rem 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #272727;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.btn {
  text-decoration: none;
  background-color: #00000000;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.15s ease;
}

.btn:hover {
  background-color: #bebebe;
  color: #1f1f1f;
}

.btn-info {
  background-color: #2a81aa;
  color: #ffffff;
}

.btn-info:hover {
  background-color: #21618b;
  color: #ffffff;
}

.btn-warning {
  background-color: #e6b619;
  color: #292929;
}

.btn-warning:hover {
  background-color: #dd9818;
  color: #292929;
}

.btn-danger {
  background-color: #c52828;
  color: #ffffff;
}

.btn-danger:hover {
  background-color: rgb(150, 33, 43);
  color: #ffffff;
}