@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
}

html {
  font-family: "Poppins", system-ui, sans-serif;
  background: #161616;
  background-size: 224px;
  color-scheme: dark;
}

code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

.header-title {
  font-size: 1.15rem;
  font-weight: bold;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
  background-color: #202020;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
}

ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.aside-links {
  background-color: #181818;
}

.aside-links ul {
  flex-direction: column;
  margin: 0px;
  padding: 1rem 2rem 1rem 1rem;
}

a {
  text-decoration: none;
  color: #a3a3a3;
  transition: color 0.15s ease;
}

a:hover {
  color: #ffffff;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  flex: 1;
  display: flex;
}

aside {
  display: flex;
}

aside .aside-links {
  flex: 1;
}